* {
	font-family: arial, sans-serif;
}
body {
	background-color: #fdfdfd;
	margin: 0px;
}

.inHeader-3{
	font-size: 2rem;
}
.link-fb{
	color: #216353;
	font-family: 'Pacifico', cursive;
	text-decoration: none;
}
.link-fb:hover {
	color: #216353;
}